@font-face {
  font-family: "SF Distant Galaxy";
  src: url("../fonts/SF-Distant-Galaxy-Outline/SF-Distant-Galaxy.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Distant Galaxy";
  src: url("../fonts/SF-Distant-Galaxy-Outline/SF-Distant-Galaxy-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Distant Galaxy Outline";
  src: url("../fonts/SF-Distant-Galaxy-Outline/SF-Distant-Galaxy-Outline.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Distant Galaxy Outline";
  src: url("../fonts/SF-Distant-Galaxy-Outline/SF-Distant-Galaxy-Outline-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Distant Galaxy Alternate";
  src: url("../fonts/SF-Distant-Galaxy-Outline/SF-Distant-Galaxy-Alternate.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Distant Galaxy Alternate";
  src: url("../fonts/SF-Distant-Galaxy-Outline/SF-Distant-Galaxy-Alternate-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Distant Galaxy AltOutline";
  src: url("../fonts/SF-Distant-Galaxy-Outline/SF-Distant-Galaxy-AltOutline.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Distant Galaxy AltOutline";
  src: url("../fonts/SF-Distant-Galaxy-Outline/SF-Distant-Galaxy-AltOutline-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Distant Galaxy Symbols";
  src: url("../fonts/SF-Distant-Galaxy-Outline/SF-Distant-Galaxy-Symbols.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Distant Galaxy Symbols";
  src: url("../fonts/SF-Distant-Galaxy-Outline/SF-Distant-Galaxy-Symbols-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
