// fonts
$font-Montserrat: "Montserrat", sans-serif;
$font-Inter: "Inter", sans-serif;
$font-sf-distant-galaxy: "SF Distant Galaxy", sans-serif;
$font-sf-distant-galaxy-outline: "SF Distant Galaxy Outline", sans-serif;
$font-sf-distant-galaxy-alternate: "SF Distant Galaxy Alternate", sans-serif;
$font-sf-distant-galaxy-altoutline: "SF Distant Galaxy AltOutline", sans-serif;
$font-sf-distant-galaxy-altoutline-italic: "SF Distant Galaxy AltOutline", sans-serif;
$font-sf-distant-galaxy-symbols: "SF Distant Galaxy Symbols", sans-serif;
$font-sf-distant-galaxy-symbols-italic: "SF Distant Galaxy Symbols", sans-serif;
// fonts

// colors
$color-white: #ffffff;
$color-black-1c: #1C1C1C;
$color-black: #000000;
// colors
